<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Quote Analysis</h1>
<form role = form th:action="@{/ + ${count}}">  method="get">
    <fieldset>
        <div>
            <label>Count: <input type="number", th:field="*{count}", value="Count"></input></label>>
        </div>
        <button id="count" type="submit">Get</button>
    </fieldset>
</form>
</body>
</html>