<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:custom="http://www.w3.org/1999/xhtml">
<head>
    <title>Generate quotes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Wrong number, try again.</h1>
<h1>Quote Analysis</h1>
<p>Insert a value to retrieve a given number of quotes</p>
<form action = "#" th:action="@{/}" th:object="${count}" method="post">
    <fieldset>
        <div>
            <label><input type="text" th:field="*{value}"/></label>
        </div>
        <button id="Count" type="submit">Send</button>
    </fieldset>
</form>
</body>
</html>